/* Colors */
$themedefault: #292c3d;
$themesecondary: #1d93ee;

$white: #ffffff;
$red: #fb3a3a;
$yellow: #ffb22b;
$purple: #7460ee;
$blue: #02bec9;
$megna: #00897b;
$grey: #777c7e;

$danger: #fc4b6c;
$success: #26c6da;
$warning: #ffb22b;
$primary: #7460ee;
$info: #1e88e5;
$muted: #99abb4;
$dark: #292c3d;
$light: #f2f4f8;
$extra-light: #ebf3f5;
$secondary: #727b84;

/* Typo */
$defaultfont: 'Poppins';
$lightfont: 'Montserrat';
$headingcolor: #455a64;
$textcolor: #8f9ca3;