.welcome {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .brand img {
    height: 200px;
    width: 200px;
    margin-bottom: 40px;
  }
  .brand h2 {
    color: $blue;
    text-align: center;
  }
  .brand p {
    text-align: center;
  }

  .links {
    display: flex;
  }

  a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    max-width: 180px;
    border-radius: 4px;
    padding: 10px 20px;
  }

  a.button {
    color: $blue;
    box-shadow: $blue 0 0px 0px 1px inset;
    transition: .2s ease;
  }

  a > i {
    color: $blue;
    transition: .2s ease;
  }

  a.button:hover {
    color: $dark;
    box-shadow: $blue 0 0px 0px 40px inset;
    transition: .2s ease;
    i {
      color: $dark;
      box-shadow: $blue 0 0px 0px 40px inset;
      transition: .2s ease;
    }
  }
}