{% extends 'layout/app.twig' %}

{% block content %}
    <div class="welcome">
        <div class="brand">
            <img src="/assets/images/brand/logo.png" alt="">
            <h2>Welcome to Clapi</h2>
            <p>Clapi is a clean & light PHP Framework for API</p>
            <div class="links">
                <a class="button" href="#">
                    <i class="mdi mdi-open-in-new"></i>
                    Website
                </a>
                <a class="button" href="#">
                    <i class="mdi mdi-help"></i>
                    Documentation
                </a>
                <a class="button" href="#">
                    <i class="mdi mdi-github-circle"></i>
                    Github
                </a>
            </div>
        </div>
    </div>
{% endblock %}